.back_gr {
  background-color: #F8F9FA;
}

.reg_btn {
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  // box-shadow: 0px 5px 5px rgb(134, 132, 245);
}

.err_msg {
  color: red;
  text-align: left;
  font-size: 10px;
}
