<div class="row footer">
    <div class="col-md-4 col-xs-4">
        <div class="container" style="margin-left:120px">

            <div class="row" style="color: aliceblue; padding-top: 50px">
                <div class="col-md-3   col-xs-3 footer_icn">
                    <img src="../../../../assets/logo/school_logo.png" style="width: 80px">
                </div>
                <div class="col-md-9   col-xs-9 footer_txt">
                    <h5><span style="font-weight: 500">St. John's College</span></h5>
                    <p style="margin-top: -0px; text-align: justify">St. John's College, started in 1915 and is the only boys' school in Nugegoda, Sri Lanka. It contains two primary sections and upper school.</p>
                    <p class="contact_us" routerLink="contact_us">Contact Us</p>
                </div>
            </div>
        </div>
    </div>

    <!-- social media links -->
    <div class="col-md-4 col-xs-4">
        <div class="container row" style="padding-top: 90px">
            <div class="col-md-3  col-xs-3">
            </div>
            <div class="col-md-2  col-xs-2">
                <a href="http://www.facebook.com"><img src="../../../../assets/icons/facebook-square-brands.svg"
                        class="social_icn fb"></a>
            </div>
            <div class="col-md-2  col-xs-2">
                <a href="http://www.instagram.com"><img src="../../../../assets/icons/instagram-brands.svg"
                        class="social_icn insta"></a>
            </div>
            <div class="col-md-2  col-xs-2">
                <a href="http://www.twitter.com"><img src="../../../../assets/icons/twitter-square-brands.svg"
                        class="social_icn twit"></a>
            </div>
            <div class="col-md-3  col-xs-3">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">

        <div class="row" style="color: aliceblue; padding-top: 50px">
            <div class="col-md-1   col-xs-1 footer_icn">
                <i class="material-icons">mail_outline </i>
            </div>
            <div class="col-md-10   col-xs-10 footer_txt">
                <h5><span style="font-weight: 500">St. John's College</span></h5>
                <p style="margin-top: -10px">176A High Level Rd,</p>
                <p style="margin-top: -20px">Nugegoda </p>
            </div>
        </div>

        <div class="row" style="color: aliceblue">
            <div class="col-md-1  col-xs-1 footer_icn">
                <i class="material-icons">call </i>
            </div>
            <div class="col-md-10   col-xs-10 footer_txt">
                <h5><span style="font-weight: 500">0112 123 456</span></h5>
            </div>
        </div>

        <div class="row" style="color: aliceblue">
            <div class="col-md-1  col-xs-1 footer_icn">
                <fa-icon [icon]="faAt" style="font-size: 20px"></fa-icon>
            </div>
            <div class="col-md-10  col-xs-10 footer_txt">
                <h5><span style="font-weight: 500">stjohncollege@gmail.com</span></h5>
            </div>
        </div>

    </div>
    <hr>
    <div class="container">
        <p style="color: aliceblue; text-align: center"> &copy; 2019 St.John's College. All rights reserved.</p>
        <p class="footer_design">WEB Designed by <a class="a">EH4 GROUP&reg;</a></p>
    </div>
</div>
