.reg-form {
  padding-top: 40px;
  padding-bottom: 50px;
}

.reg-frm {
  background-color: white;
  padding-top: 40px;
  width: 80%;
  text-align: center;
  margin: auto;
}
@font-face {
  font-family: topic_font;
  src: url(../../../../assets/Fonts/RobotoSlab.ttf);
}

.topic {
  color: rgb(0, 140, 255);
  font-weight: 300;
  padding-top: 50px;
  font-family: topic_font;
  font-weight: 300;
}
.reg_btn {
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  box-shadow: 0px 5px 5px rgb(134, 132, 245);
}

.box_border {
  border-radius: 3px;
}
.pick_btn {
  width: 30%;
}

.flashMessage {
  padding-top: 5px;
  height: 20px;
  margin-bottom: -10px;
  width: 100%;
}
.err_msg {
  // margin-top: -15px;
  color: red;
  text-align: left;
  font-size: 10px;
}
