<div class="row">
    <div class="container-fluid">

        <div class="row">
            <!-- <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div> -->
            <div class="container-fluid" style="background-color:#F8F9FA">

                <div>

                    <div class="container">
                        <h2 style="color:  rgb(0, 140, 255); font-weight: bold; padding-top: 50px">My Profile</h2>
                        <hr>
                    </div>

                    <div class="profile_data" style="padding-bottom: 50px">
                        <mat-card *ngIf="profiledata" style="margin-top: 50px;">

                            <!-- profile picture div -->
                            <div class="profile-pic">
                                <mat-card *ngIf="profiledata">
                                    <img src="http://localhost:3000/users/profileImage/{{profiledata.filepath}}"
                                        class="profile_matcard">
                                </mat-card>
                            </div>
                            <div class="container-fluid" style="margin-top: 30px;">
                                <div class="row">
                                    <div class="clo-md-2">
                                        <i class="material-icons icons">person_pin</i>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="profile_attributes">User Model </label>
                                        <p class="profile_attributes_data">{{profiledata.usertype}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="clo-md-2">
                                        <i class="material-icons icons">person</i>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="profile_attributes">Full Name </label>
                                        <p class="profile_attributes_data">{{profiledata.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="clo-md-2">
                                        <fa-icon [icon]="faMap"
                                            style="font-size: 30px; color: #5e5e5e; margin-left: 30px; margin-right: -15px">
                                        </fa-icon>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="profile_attributes">Address </label>
                                        <p class="profile_attributes_data">{{profiledata.address}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-1">
                                        <fa-icon [icon]="faAt"
                                            style="font-size: 30px; color: #5e5e5e; margin-left: 15px;">
                                        </fa-icon>
                                    </div>
                                    <div class="col-md-10" style="margin-left: -32px">
                                        <label class="profile_attributes">E-mail </label>
                                        <p class="profile_attributes_data">{{profiledata.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6" *ngIf="profiledata.mobilenumber">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <fa-icon [icon]="faMobile" style="font-size: 30px; color: #5e5e5e;">
                                                    </fa-icon>
                                                </div>
                                                <div class="col-md-10">
                                                    <label class="profile_attributes">Mobile No </label>
                                                    <p class="profile_attributes_data">{{profiledata.mobilenumber}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="profiledata.homenumber">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <fa-icon [icon]="faPhone" style="font-size: 30px; color: #5e5e5e;">
                                                </fa-icon>
                                            </div>
                                            <div class="col-md-10" style="margin-left: -10px">
                                                <label class="profile_attributes">Home No </label>
                                                <p class="profile_attributes_data" style="width: 102%">
                                                    {{profiledata.homenumber}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <fa-icon [icon]="faBirthdayCake"
                                                        style="font-size: 30px; color: #5e5e5e;">
                                                    </fa-icon>
                                                </div>
                                                <div class="col-md-10">

                                                    <label class="profile_attributes">Birthday </label>
                                                    <p class="profile_attributes_data">{{profiledata.birthday}}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <fa-icon [icon]="faVenusMars" style="font-size: 30px; color: #5e5e5e;">
                                                </fa-icon>
                                            </div>
                                            <div class="col-md-10" style="margin-left: -10px">
                                                <label class="profile_attributes">Gender </label>
                                                <p class="profile_attributes_data" style="width: 102%">
                                                    {{profiledata.gender}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <fa-icon [icon]="faGlobeEurope"
                                                        style="font-size: 30px; color: #5e5e5e;">
                                                    </fa-icon>
                                                </div>
                                                <div class="col-md-10">

                                                    <label class="profile_attributes">Nationality </label>
                                                    <p class="profile_attributes_data">{{profiledata.nationality}}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img src="../../../../assets/icons/id-card-regular.svg"
                                                    style="width: 30px; padding-top: 5px; margin-left: -5px">
                                            </div>
                                            <div class="col-md-10" style="margin-left: -10px">
                                                <label class="profile_attributes">NIC No </label>
                                                <p class="profile_attributes_data" style="width: 102%">
                                                    {{profiledata.nicnumber}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid" *ngIf="profiledata.usertype == 'Student'">
                                <div class="row">
                                    <div class="clo-md-2">
                                        <img src="../../../../assets/icons/male-solid.svg"
                                            style="width: 15px; margin-left: 30px">
                                    </div>
                                    <div class="col-md-10">
                                        <label class="profile_attributes">Father's Name </label>
                                        <p class="profile_attributes_data">{{profiledata.father}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid" *ngIf="profiledata.usertype == 'Student'">
                                <div class="row">
                                    <div class="clo-md-2">
                                        <img src="../../../../assets/icons/female-solid.svg"
                                            style="width: 20px; margin-left: 27px">
                                    </div>
                                    <div class="col-md-10">
                                        <label class="profile_attributes">Mother's Name </label>
                                        <p class="profile_attributes_data">{{profiledata.mother}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="resetButton" routerLink="./reset_password">
                                       <p style="color: white;text-align: center;margin: auto;margin-top: 10px;">
                                           Reset Password
                                       </p> 
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>