@font-face {
  font-family: topic_font;
  src: url(../../../../assets/Fonts/RobotoSlab.ttf);
}

.topic {
  color: rgb(0, 140, 255);
  font-weight: 300;
  padding-top: 50px;
  font-family: topic_font;
  font-weight: 300;
}

.body {
  background-color: white;
  // height: 100px;
}
.flashMessage {
  padding-top: 5px;
  height: 20px;
  margin-bottom: -10px;
  width: 100%;
}
#textbox {
  height: 200px;
}

.border {
  border-style: ridge;
  // box-shadow: 0px 5px 5px rgb(134, 132, 245);
  width: 1000px;
}
.box_border {
  border-radius: 3px;
}

.reg-frm {
  // box-shadow: 0px 5px 5px rgb(134, 132, 245);
  padding-top: 40px;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.reg-form {
  padding-bottom: 50px;
}

.reg_btn {
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  // box-shadow: 0px 5px 5px rgb(134, 132, 245);
}

.mat-form-field {
  width: 100%;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.btn_1 {
  color: aliceblue;
  background-color: rgb(76, 204, 128);
  border-color: rgb(76, 204, 128);
  margin-left: 10px;
  margin-right: 10px;
}
