@font-face {
  font-family: topic_font;
  src: url(../../../../assets/Fonts/RobotoSlab.ttf);
}

.topic {
  color: rgb(0, 140, 255);
  font-weight: 300;
  padding-top: 50px;
  font-family: topic_font;
  font-weight: 300;
}

.contentDiv {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 30px;
}

.sub_contentDiv {
  padding-left: 20px;
}

.icons {
  width: 15px;
  margin-top: -10px;
}

.content_txt {
  color: rgb(74, 74, 74);
  font-size: 15px;
}
.content_txt:hover {
  color: rgb(0, 104, 196);
}
.deletebtn {
  margin-top: -2px;
  height: 30px;
  background-color: rgb(223, 2, 2);
}
.deletebtn:hover {
  background-color: rgb(172, 2, 2);
}
.deleteIcon {
  font-size: 20px;
  margin-top: -10px;
}
