<div class="row">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div> -->
            <div class="container-fluid" style="background-color:#F8F9FA">

                <div>
                    <div class="container">
                        <h2 class="topic">Reset Password</h2>
                        <hr>
                    </div>
                    <div class="container" style="padding-top:50px ; padding-bottom:50px">
                        <form style="background-color: White;" class="text-center border p-5 reg-frm"
                            [formGroup]="ResetPasswordForm">
                            <img src="../../../assets/logo/logo.png" style="width:60%; margin-bottom: 50px">

                            <div class="row">
                                <p class="passwordTag">Your old password *</p>
                                <input type="password" class="form-control box_border" placeholder="***************"
                                    name="userid" formControlName="oldpw">
                                <div *ngIf="submitted && f.oldpw.errors" class="err_msg">
                                    <div *ngIf="f.oldpw.errors.required">Old Password is required</div>
                                    <div *ngIf="f.oldpw.errors.minlength">Password length should be more than 8 characters</div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="passwordTag">New Password *</p>
                                <input type="password" class="form-control box_border" placeholder="***************"
                                    name="userid" formControlName="newpw">
                                <div *ngIf="submitted && f.newpw.errors" class="err_msg">
                                    <div *ngIf="f.newpw.errors.required">New Password is required</div>
                                    <div *ngIf="f.newpw.errors.minlength">Password length should be more than 8 characters</div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="passwordTag">Re-enter your New Password *</p>
                                <input type="password" class="form-control box_border" placeholder="***************"
                                    name="userid" formControlName="renewpw">
                                <div *ngIf="submitted && f.renewpw.errors" class="err_msg">
                                    <div *ngIf="f.renewpw.errors.required">New Password is required</div>
                                    <div *ngIf="f.renewpw.errors.minlength">Password length should be more than 8 characters</div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin: auto;">
                                <button class="btn src_btn box_border" type="submit" (click)="resetPassword()">
                                    <p style="color: white;">Reset Password</p>
                                </button>

                            </div>
                        </form>
                    </div>

                    <!-- {{userdata | json}} -->

                </div>
            </div>
        </div>
    </div>
</div>